<template name="offer">
    <a class="item" id="{{_id}}" href="/barters/{{_id}}">
        <div class="ui tiny image">
            <img src="{{selectedItemImage}}">
        </div>
        <div class="content">
            <h2 class="header">{{selectedItemTitle}}</h2>
            <div class="meta">
                <p class="date">Offer made {{formatDate createdAt}}</p>
            </div>
            <div class="description">
                {{#if offerOwner}}
                    <p>You want this.</p>
                {{else}}
                    <p>{{offeredItemOwnerName}} wants this.</p>
                {{/if}}
            </div>
        </div>
    </a>
</template>
