<template name="offerDetails">
    {{#if Template.subscriptionsReady}}
        <div class="ui two column offer details module grid">
            <div class="column">
                <div class="ui fluid selected card" id="{{offer.selectedItemId}}">
                    <div class="content">
                        <h2 class="title">{{offer.selectedItemTitle}}</h2>

                        <div class="meta">
                            <p class="owner">Offered by <a class="name" href="/profile">{{offer.selectedItemOwnerName}}</a></p>
                        </div>
                    </div>
                    <div class="image">
                        <img src="{{offer.selectedItemImage}}"/>
                    </div>
                    <div class="content">
                        <button class="fluid ui button" id="toggleOfferModal">Confirm Offer <i class="arrow right icon"></i></button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid offered card" id="{{offer.offeredItemId}}">
                    <div class="content">
                        <h2 class="title">{{offer.offeredItemTitle}}</h2>

                        <div class="meta">
                            <p class="owner">Offered by <a class="name" href="/profile">{{offer.offeredItemOwnerName}}</a></p>
                        </div>
                    </div>
                    <div class="image">
                        <img src="{{offer.offeredItemImage}}"/>
                    </div>
                    <div class="content">
                        <button class="fluid ui button" id="toggleOfferModal">Confirm Offer <i class="arrow right icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>
