<template name="webcam">
    <div class="webcam module">
        <div class="webcam"></div>
        <button class="ui huge circular primary snap photo icon button"><i class="icon camera"></i></button>
        {{#if image}}
            <div class="photo preview">
                <img class="ui centered fluid image" src="{{image}}">
                <div class="ui buttons">
                    <button class="ui retake photo button">Retake Photo</button>
                    <div class="or"></div>
                    <button class="ui positive accept photo button">Accept Photo</button>
                </div>
            </div>
        {{/if}}
    </div>
</template>