@import '../../../_variables';

.items.module {
  postion: relative;

  .item.column {
    margin: 0;

    .ui.fluid.card {
      text-align: center;

      .image {
        cursor: pointer;
      }

      .content {
        padding: $space-small;

          button {
            background: none;
            color: $primary-color;
            font-size: $font-size-base + $font-size-tiny;
            border: $space-atomic solid $primary-color;

            i {
              color: $primary-color;
            }
          }
        }
      }
    }

  &.user {

    .user.item.image {
      margin: 0;
      padding: $space-tiny;
    }
  }
}
