@import '../../../_variables';

.items.module {
  postion: relative;

  .item.column {
    margin: 0;

    .ui.fluid.card {
      text-align: center;

      .image {
        cursor: pointer;
      }

      .content {
        padding: $space-small;

        button {
          background: $primary-color;
          color: $light;
          font-size: $font-size-base + $font-size-tiny;
          box-shadow :$space-atomic $space-atomic 0 darken($primary-color, 20%);
        }
      }
    }
  }

  &.user {

    .user.item.image {
      margin: 0;
      padding: $space-tiny;
    }
  }
}
