@import '../../../_variables';

.camera.module {
    position: relative;
    margin: 0;
    padding: 0;
}

.camera-overlay {
    display: none;
}

.camera-popup {
    top: 0;
    left: 0;
    height: $fluid-full;
    width: $full;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: $dark;
    z-index: 1;

    .viewfinder {
        height: $full;

        #video {
            width: $full;
            height: $full;
        }

        div,
        .camera-actions {
            position: fixed;
            bottom: $space-massive;
            width: $full;
            padding: $space-base;
        }
    }
}
