<template name="item">
    <div class="item column">
        <div class="ui fluid card" id="{{_id}}">
            <div class="image">
                <img src="{{image}}" />
            </div>

            <div class="content">
                <h2 class="title">{{title}}</h2>
                <div class="meta">
                    <p class="owner">Offered by <a class="name" href="/profile">{{ownerName}}</a></p>
                </div>
            </div>
        </div>
        {{> userItems}}
    </div>
</template>
