<template name="cameraMdg">
  <h1>MDG:Camera</h1>

  {{> cameraEvent}}
  {{> libraryEvent}}
  {{> img}}
</template>

<template name="cameraEvent">
  <div>
    <p>Camera</p>
    <button id="camera-event">Click Me</button>
  </div>
</template>

<template name="libraryEvent">
  <div>
    <p>Library</p>
    <button id="library-event">Click Me</button>
  </div>
</template>

<template name="img">
  <div>
    {{#if img}}
      <img src="{{img}}" alt="">
    {{else}}
      <p>No image yet.</p>
    {{/if}}
  </div>
</template>
