<template name="tradeItem">

  <div class="user-offering">
    <h2>Your offerings</h2>
    <div class="ui item">
      <div class="item">
        <div class="image">
          <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Header</a>
        </div>
        <div class="extra content">
          <div class="ui input">
            <input name="trade-confirmation" id="trade-confirm" type="radio" vale="1"><label for="">Ready to trade</label>
          </div>
        </div>
    </div>
  </div>

  <div class="offering">
    <h2>Kara's offerings</h2>
    <div class="ui item">
      <div class="item">
        <div class="image">
          <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Header</a>
        </div>
      </div>
    </div>
  </div>

</div>
</template>
