<template name="trade">
    <a class="trade event" href="/exchange/{{_id}}">
        <div class="label">
            <img class="offered image" src="{{offeredItemImage}}">
        </div>
        <div class="content">
            <div class="summary">
                <a class="user" href="/profile">
                    {{offeredItemOwnerName}}
                </a>
                wants to trade
                <strong class="offered title">{{offeredItemTitle}}</strong>
                for your
                <strong class="selected title">{{selectedItemTitle}}</strong>
                <div class="date">
                    Created {{formatDate createdAt}}
                </div>
            </div>
        </div>
        <div class="label">
            <img class="selected image" src="{{selectedItemImage}}">
        </div>
    </a>
</template>