<template name="offer">
    <div class="ui stackable two column offer grid" id="{{_id}}">
        <div class="offered item column" id="{{offeredItemId}}">
            <h2 class="title">{{offeredItemOwnerName}}'s offerings</h2>
            <img class="ui image" src="{{offeredItemImage}}"/>
        </div>
        <div class="selected item column" id="{{selectedItemId}}">
            <h2 class="title">For your</h2>
            <img class="ui image" src="{{selectedItemImage}}"/>
        </div>
        <div class="ui two buttons">
            <button class="ui negative cancel offer button">Cancel</button>
            <!--<button class="ui counter offer button">Counter</button>-->
            <button class="ui positive accept offer button">Accept</button>
        </div>
    </div>
</template>
