<template name="offerModal">
    <aside class="offer modal module animated fadeIn" style="background: url({{image}})" id="{{_id}}">
        <div class="selected">
            <h2 class="ui centered header">
                Select Your Offerings
                <small class="owner">for {{ownerName}}'s {{title}}</small>
            </h2>
        </div>

        <div class="offers">
            {{> userItems}}
        </div>

        <div class="ui two fluid buttons">
            <button class="ui red basic button" id="cancelOffer">
                <i class="remove icon"></i>
                Cancel Offer
            </button>
            <button class="ui green basic button" id="createOffer">
                <i class="checkmark icon"></i>
                Submit Offer
            </button>
        </div>
    </aside>
</template>
