@import '../../../_variables';

// @TODO
// Eliminate scrolling when modal is active
// Add top padding for view

.offer.modal {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: $full;
  width: $full;
  padding: 0;
  background-color: $light;
  z-index: 10;

  .selected {
    position: fixed;
    top: 0;
    left: 0;
    width: $full;
    height: $fluid-quarter + 10vh;
    padding: $space-base;
    background-color: $gray-lighter;
    background-size: cover !important;
    background-position: $half $half !important;
    background-repeat: no-repeat !important;
    z-index: 1;

    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: $full;
      margin: 0;
      padding: $space-micro;
      background-color: $gray-lighter;
      line-height: $line-height-large;

      .owner {
        display: block;
        margin: 0;
        color: $gray;
        font-size: $half;
      }
    }

    .sub.header {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: $full;
      margin: 0;
      padding: $space-tiny;
      background: $gray-lighter;
      color: $header-color;
    }
  }

  .offers {
    position: absolute;
    top: $fluid-quarter + 10vh;
    left: 0;
    width: $full;
    margin-bottom: $space-huge;
    padding: $space-mini + $space-atomic;
  }

  .ui.two.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    background: $light;

    .button {
      border-radius: 0;
    }
  }
}
