@import '../../../_variables';

.offer.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: $light;
  height: 100%;
  width: 100%;
  padding: $space-base $space-base;
  border: 1px solid $gray-light;

  .ui.attached.header {
    border: none;
  }

  .ui.dividing.header {
    border-bottom: none;
  }

  .item {
    padding: $space-base + $space-small $space-base;

    small {
      display: block;
      color: $gray;
    }

    &.user-offering {
      border-bottom: $space-atomic solid $gray;
      background: $light;

      img {
        box-shadow: $space-atomic $space-atomic $space-atomic $gray;
      }
    }

    &.offering {
    }
  }

  .actions {
    text-align: right;
    background: lighten($gray-light, 35%);

    .ui.two.fluid.buttons {
      .button {
        width: auto;

        &.red {
          background: $negative-color !important;
          color: $light !important;
          border: $space-atomic solid $negative-color;
        }

        &.green.button {
          background: $primary-color !important;
          color: $light !important;
          border: $space-atomic solid $primary-color;
        }
      }

      }
    }
}
