@import '../../../_variables';

.webcam.module {
  position: relative;
  margin: 0;
  padding: 0;

  .webcam {
    width: $full !important;
    height: $fluid-full !important;
    background-color: $dark;

    video {
      width: $full !important;
      height: $fluid-full !important;
      transform: none !important;
    }
  }

  .snap.photo.button {
    position: fixed;
    left: $half;
    bottom: $space-jumbo;
    margin: 0;
    z-index: 1;
  }

  .photo.preview {
    position: fixed;
    top: 0;
    width: $full;
    height: $fluid-full;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    z-index: 2;

    .image {
      flex: none;
    }

    .ui.buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: $full;
    }
  }
}