@import '../../_variables';

html {

  body {

    .layout {

      .main {
        position: relative;
      }

      .footer {
        position: fixed;
        bottom: 0;
        width: $full;
      }
    }
  }
}