@import '../../_variables';

html {

  body {

    .layout {

      .header {

      }

      .main {
        position: relative;
        margin-bottom: $space-jumbo;
      }

      .footer {
        position: fixed;
        bottom: 0;
        width: $full;
      }
    }
  }
}