@import '../../../_variables';

.topnav.ui.menu {
  width: 100%;
  padding: $space-tiny;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: $primary-color;

  .item {
    padding: 0 $space-base;
    font-size: $font-size-base;
    font-size: .5rem;

    .logo {
      margin: auto;
      border: $space-atomic solid $light;
      text-align: center;
    }
  }


}
