@import '../../_variables';

.items.module {
  postion: relative;

  .item.column {
    margin: 0;

    .ui.card {
      text-align: center;

      .image {
        cursor: pointer;
      }
    }
  }
}
